body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* hier begint de nav */
.header{
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
}

.logo-blok{
    height: 100px;
    width: 30%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.but1{
    height: 50px;
    width: 150px;
    background-color: #2D334A;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    font-family: "Inter", sans-serif;
}
.b1{
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../images/pexels-photo-457882.jpeg");
}
/* einde nav */

/* hier begint zoekopdracht */
/* gemaakt door Ruveyda */
.container{
    height: auto;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-row{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.container-col{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: flex-end;
}

.col30{
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-lijst{
    height: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272343;
}

.achtergrond{
    background-image: url("../images/pexels-photo-457882.jpeg");
    background-size: 1536px;
    background-repeat: no-repeat;
    height: 400px;
    width: 100%;
    margin-bottom: -100px;
}

.margin-background {
    margin-top: -400; 
}

.row70{
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vakantie-balk{
    height: 300px;
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 15px;
    align-items: center;
    justify-content: space-around;
    background-color: #FFD803;
    margin-top: 50px;
}

.vakantie-blok-wit{
    height: 240px;
    width: 260px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}

.vakantie-blok-blauw{
    height: 240px;
    width: 260px;
    background-color: #E3F6F5;
    display: flex;
    flex-direction: column;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
}

.een-vakantie-informatie{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #E3F6F5;
}

.balk-verblijven{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #E3F6F5;
}

.balk-beordeling{
    height: 40px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background-color: #E3F6F5;
}

.een-vlucht-informatie{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #E3F6F5;
}

.balk-tekst-vlucht{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    background-color: #E3F6F5;
}

.tekst-vlucht{
    height: 90%;
    width: 90%;
    font-size: medium;
    color: #2D334A;
}

.balk-bekijk-vakantie{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E3F6F5;
}

.bekijk-vakantie{
    height: 50px;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #000000;
}

.tekst-bekijk-vakantie{
    font-size: medium;
    color: #FFFFFF;
}
/* einde zoekopdracht */

/* login pagina */
/* gemaakt door anke */
.background-picture {
    height: 670px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("../images/b51hm1au1uy21.jpg"); 
}


.login-form {
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-blok {
    width: 560px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(255, 225, 0, 0.807);
    margin-left: 650px;
    margin-top: 110px;
    margin-bottom: 30px;
}

.hoofd-tekst {
    font-size: 40px;
}

.tekst-colour {
    color: #FFFFFF;
}

.email {
    width: 500px;
    height: 60px;
    background-color: #272343;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.background {
    background-color: #272343;
    color: #FFFFFF;
    border: none;
}

.password {
    width: 500px;
    height: 60px;
    background-color: #272343;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.login-signin {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.signin {
    width: 200px;
    height: 60px;
    background-color: #272343;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.login2 {
    width: 200px;
    height: 60px;
    background-color: #272343;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
/* einde inlog */

/* register pagina */
/* gemaakt door anke */
.register-blok {
    width: 570px;
    height: 475px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 225, 0, 0.807);
    margin-left: 220px;
    margin-top: 110px;
    margin-bottom: 30px;
}

.telefoonnummer {
    width: 500px;
    height: 60px;
    background-color: #272343;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin: 20px;
}

.signin-button {
    width: 200px;
    height: 60px;
    background-color: #272343;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; 
}
/* einde register */

/* main.jsx */
/* gemaakt door anke */
/* .danger {
    
} */

/* bekijk vakantie pagina */
/* gemaakt door anke */
.informatie-verblijf {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 100px;
}

.naam-verblijf {
    font-size: 40px;
}

h1 {
    font-size: 80px;
}

.plaatje-reacties-verblijf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;

}

.reacties-verblijf {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 18px;
}

.review1 {
    height: auto;
    background-color: #FFD803;
    color: #000000;
    margin-bottom: 25px;
    padding: 10px;
}

.review2 {
    height: auto;
    background-color: #FFD803;
    color: #000000;
    margin-bottom: 25px;
    padding: 10px;
}

.review3 {
    height: auto;
    background-color: #FFD803;
    color: #000000;
    padding: 10px;
}

.informatie-en-prijs-verblijf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
}

.alle-informatie-verblijf {
    padding: 25px;
    color: #FFFFFF;
    width: 500px;
    height: 100%;
    background-color: #272343;
    font-size: 25px;
}

.prijs-per-persoon-verblijf {
    color: #000000;
    width: 250px;
    height: 100%;
    background-color: #FFD803;
    font-size: 25px;
    padding: 25px;
}

.faciliteiten-lijst {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.boeken-knop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boeken-verblijf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
    height: 60px;
    background-color: #272343;
    color: #FFFFFF;
    margin: 95px;
    font-size: 25px;
    padding: 25px;
}

/* height is op auto maar dat doet die niet bij de derde volgens mij */