body{
    margin: 0;
    padding: 0;
}

/* hier begint de nav */
.header{
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;    
}

.logo-blok{
    height: 100px;
    width: 30%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.but1{
    height: 50px;
    width: 150px;
    background-color: #2D334A;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    font-family: "Inter", sans-serif;
}
.b1{
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
}
/* einde nav */

/* hier begint zoekopdracht */

.container{
    height: auto;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-row{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.container-col{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: space-around;
    justify-content: flex-end;
}

.col30{
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-lijst{
    height: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272343;
}

.achtergrond{
    background-image: url("../img/achtergrond.jpeg");
    height: 400px;
    width: 100%;
    margin-bottom: -100px;
}

.row70{
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.vakantie-balk{
    height: 300px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FFD803;
}

.vakantie-blok-wit{
    height: 80%;
    width: 30%;
    background-color: #FFFFFF;
}

.vakantie-blok-blauw{
    height: 80%;
    width: 30%;
    background-color: #E3F6F5;
}

/* einde zoekopdracht */