body{
    margin: 0;
    padding: 0;
}
.header{
    height: 100px;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
}
.head{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px 0px 100px;
    
}
.logo{
    height: 90px;
}
.but1{
    height: 50px;
    padding: 10px;
    background-color: #2D334A;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}
.but2{
    color: rgb(201, 201, 201);
}
/* .but3{
    height: 50px;
    padding: 10px;
    background-color: #FFD803;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    font-family: "Inter", sans-serif;
    border: solid;
} */
.but3 {
    position: relative;
    background-color: #bb9f03;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
  }
  
  .but3:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .but3:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
.but4{
    border-radius: 13px;
    background-color: #e3e3e3;
    color: #272343;
    border:#272343 solid; 
    height: 50px;
}
.but5{
    height: 50px;
    padding: 10px;
    background-color: #bb9f03;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 15px;
}
#btn{
    color: black;
}
.b1{
    height: 700px;
    width: 100%;
    background-image: url(/images/pexels-photo-457882.jpeg);
    background-size: 1536px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 800px;
}
#bckgrnd{
    margin-top: -400px;
}
.none{
    height: 100px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0);
}
.inf{
    height: 100px;
    width: 80%;
    background-color: grey;
    padding: 10px;
}
#text{
    height: 0;
}
.inf1{
    height: 500px;
    width: 20%;
    background-color: #272343;
}
.b2{
    height: 600px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    font-family: "Inter", sans-serif;
    margin-bottom: 20px;
}
.b3{
    height: 600px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    justify-content: center;
    font-family: "Inter", sans-serif;
    margin-top: 20px;
}
.b4{
    height: 700px;
    width: 100%;
    background-image: url(/images/pexels-photo-457882.jpeg);
    background-size: 1536px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}
.inf2{
    height: 550px;
    width: 30%;
    background-color: #ffffff;
    border-style: solid;
    border-color: #272343;
    border-width: 20px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

}
.inf3{
    height: 550px;
    width: 50%;
    background-color: #FFD803;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
.inf4{
    height: 100px;
    width: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 13px;
}
.inf5{
    height: 250px;
    width: 400px;
    background-color: #272343;
    color: #ffffff;
    padding: 5px;
}
.dshb{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-family: "Inter", sans-serif;
}
.addloc{
    height: 200px;
    width: 70%;
    background-color: #272343;
    margin-top: 20px;
    color: gray;
}
.cstmr{
    height: 200px;
    width: 40%;
    background-color: #272343;
    color: rgb(201, 201, 201);
}
.cmpny{
    height: 200px;
    width: 40%;
    background-color: #FFD803;
}
.socmed{
    height: 250px;
    width: 400px;
    background-color: #FFD803;
    padding: 5px;
}
.mailing{
    height: 320px;
    width: 400px;
    background-color: #272343;
    color: #ffffff;
    padding: 5px;
}
.numb{
    height: 250px;
    width: 400px;
    background-color: #FFD803;
    padding: 5px;
}
.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 100px 0px 100px;
    margin-top: 10px;
}
#hgt{
    line-height: 0.5;
}
.booking{
    background-color: #2723435e;
    background-image: linear-gradient(#272343ba, hwb(248 14% 74% / 0));
    height: 400px;
    width: 45%;
    border-radius: 13px;
    color: white;
}
.pay{
    background-color: #2723435e;
    background-image: linear-gradient(#272343ba, hwb(248 14% 74% / 0));
    height: 400px;
    width: 45%;
    border-radius: 13px;
    color: white;
}
.ggggg{
    border-style: solid;
    border-color: black;
    color: #272343;
    height: 50px;
    width: auto;
    border-radius: 13px;
    background-color: #e3e3e3;
}
.form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
#mid{
    display: flex;
    justify-content: center;
    align-items: center;
    
}